.header {
  height: rem(56px);
  background-color: var(--mantine-color-gray-1);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 500;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -9px;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );
    border-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    );
    border-bottom-color: transparent;
  }
}
